@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');


.bg-light {
    background-image: url("./images/bg-light.png");
    background-repeat: no-repeat;
    background-size: cover
}

.poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
}

.bg-hero-mobile {
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url("assets/back-view-traveler-looking-clock.jpg");
}
.bg-hero-web {
    background-position: center center;
    background-image:url("assets/back-view-traveler-looking-clock.jpg");
}

